.background{
    background-image: url(../Images/2.png);
    
}

.background-1{
    background-image: url(../Images/3.png);
    
}

  
.background-2{
    background-image: url(../Images/4.png);
    
}